#pragma once

#ifdef IMGUI_ENABLED

#include "GameLogic/Imgui/ComponentInspector/AbstractComponentImguiWidget.h"

class {class_name}ImguiWidget final : public AbstractComponentImguiWidget
{{
public:
	void update(void* component) override;
}};

#endif // IMGUI_ENABLED
